#mypara{color:rebeccapurple; text-align: justify;}


h1{
    color:green; text-align: justify;margin-left: 20px;
    }
    div {
    width: 800px;
    height: 80px;
    background-color: blue;
    color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    text-align: justify;
    }